#count-label{
    display:'block';
    text-align: center;
    font-size: 55px;
}

#mydiv{
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
   
}



@keyframes example {
    0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
    
}